

{% extends 'base.html'%}

{% block content %}
<br>
<a href="/" class="btn btn-lg btn-primary mt-2 ml-3">   <i class="fas fa-home"></i> Home</a>
<div class="card">
    <h3 class="card-header">Password reset sent</h3>
    <div class="card-body">
     
           <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

           <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
           
 

    </div>
  </div>

  <style>
       body{
		background: #a1c4fd;
	
	  }
  </style>

  {% endblock %}
