

{% extends 'base.html'%}


{% load crispy_forms_tags %}

{% block content %}

<br>
<a href="/" class="btn btn-lg btn-primary mt-2 ml-3">   <i class="fas fa-home"></i> Home</a>
   
<div class="col-md-12 form-4">
    
<form method="POST">
    {% csrf_token %}
    
    

    <div class="card">
        <h3 class="card-header">Reset Password</h3>
        <div class="card-body">
          <h5 class="card-title">Forgotten your password ? Enter your email address below, and we'll email instruction for settings a new one</h5>
               <hr>

        <div class="col-md-6">
            {{form|crispy}}
            <input type="submit" value="Submit" class="btn btn-success">
        </div>
     
      
        </div>
      </div>
    

   

    

</form>
</div>

<style>
  body{
		background: #a1c4fd;
	
	  }
</style>

{% endblock %}
