{% extends 'base.html'%}


{% block content %}

<br>
<a href="/" class="btn btn-lg btn-primary mt-2 ml-3">   <i class="fas fa-home"></i> Home</a>
<div class="col-md-8">
<div class="card">
    <h3 class="card-header">Password Reset Complete</h3>
    <div class="card-body">
      <h5 class="card-title">Your password has been reset. You may go ahead and log in now.</h5>
      <hr>
      <a href="{% url 'register_app:login'%}" class="btn btn-success">Log in with new password</a>
    </div>
</div>
</div>

<style>
  body{
		background: #a1c4fd;
	
	  }
</style>




{% endblock %}