{% extends 'base.html' %}

{% block title %}Add Sales for existing customer{% endblock title %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block content %}
  <div class="table-responsive">
    <table id="dataTable" class="table table-bordered table-hover" data-page-length='100'>
      <thead class="thead-light">
        <tr>
          <th>S/N</th>
          <th>Name</th>
          <th>Action</th>

        </tr>
      </thead>
      <tbody>

        {% for sale in sales %}
          <tr >
            <td>{{ forloop.counter}}</td>
            <td>{{ sale.name}}</td>
            <td>
              <a href="{% url 'existing-sales-create' sale.id %}" class = "btn btn-info"><i class = "fas fa-plus"></i> sales </a>
            </td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
{% endblock content %}


{% block morejs %}


{% endblock morejs %}
