{% extends 'base.html' %}
{% load auth_extras %}

{% block title %}Customers{% endblock title %}

{% block breadcrumb %}
<a class="btn btn-primary" href="{% url 'create-customer' %}"><i
    class="fas fa-plus"></i> New Customer</a>
{% endblock breadcrumb %}

{% block content %}
  <div class="table-responsive">
    <table id="dataTable" class="table table-bordered table-hover" data-page-length='100'>
      <thead class="thead-light">
        <tr>
          <th>S.N</th>
          <th>Sale Code</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Email address</th>
          <th>Created data</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>

        {% for customer in customers %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{ customer.sale_code}}</td>
            <td>{{ customer.name}}</td>
            <td>{{ customer.phone_no}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.created_at}}</td>
            <td>
              <a class="btn btn-sm btn-success" href="{% url 'customer-update' customer.pk %}">Edit </a>
              {% if request.user.is_superuser or request.user|has_group:'admin' %}
              <a href="{% url 'customer-delete' customer.pk %}"  class="btn btn-sm btn-danger" >Delete</a>
           {% endif %}
            </td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
{% endblock content %}


{% block morejs %}


{% endblock morejs %}
