{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}

  {% if object %}
    Update {{ object }}
  {% else %}
    Add new Sales
  {% endif %}

{% endblock title %}


{% block content %}
 {% if messages %}
    {% for message in messages %}
 
      <div id="{{ field.auto_id }}" class="text-danger">{{ message }}</div>
    {% endfor %}
    {% endif %}

   
      {% if form.errors %}
   
      <div id="{{ field.auto_id }}" class="text-white alert alert-danger">{{form.errors}}</div>
  
      {% endif %}
 
<form  action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  {% for field in form %}
<div class="form-group row">


  <div id="form-container" class="col-sm-9">
    {{ field | add_class:"form-control"}}
    {% if field.help_text %}
    <div>{{ field.help_text|safe }}</div>
    {% endif %}



		<table class="table">
		    {{ items.management_form }}

		    {% for form in items.forms %}

			{% if forloop.first %}
			    <thead>
			    <tr>
				{% for field in form.visible_fields %}
				    <th>{{ field.label|capfirst }}</th>
				{% endfor %}
			    </tr>
			    </thead>
			{% endif %}
			<tbody class="tbody-class">
			<tr class="formset_row" >
			    {% for field in form.visible_fields %}
				<td>
				    {% if forloop.first %}
					{% for hidden in form.hidden_fields %}
					    {{ hidden }}
					{% endfor %}
				    {% endif %}
				    {{ field.errors.as_ul }}
					{{ field | add_class:"form-control" }}
				</td>

			    {% endfor %}
			</tr>

			</tbody>
		    {% endfor %}
		</table>
			<a id="add-form" type="button" class=" float-right"></a>



	</div>

</div>

{% endfor %}

  </div>
</div>
<a href="{% url 'existing-customer-list' %}" class="btn btn-danger ">Back</a>

  {% if object %}
    <input type="submit" class="btn btn-primary" value="Update Record">
  {% else %}
    <input type="submit" class="btn btn-primary" value="Add new Sales">
  {% endif %}
<a href="{% url 'sales_details' customer.pk %}" class="btn btn-success ">View Bill</a>


</form>

{% endblock content %}

  {% block morejs %}
<script src="{% static 'dist/js/formset/jquery.formset.js' %}"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>-->
<script>
  $(document).ready(function(){

$('.formset_row').formset({
        deleteText: '',
        prefix: 'items'

    });

		let birdForm = document.querySelectorAll(".formset_row")
        let container = document.querySelector("#form-container")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_salesitem_set-TOTAL_FORMS")
		let tbody=document.querySelector('.tbody-class')
		document.querySelector('.add-row').style.display="none";


        let formNum = birdForm.length-1
        addButton.addEventListener('click', addForm)

        function addForm(e){
       //   window.localStorage.clear();
            e.preventDefault()
            let newForm = birdForm[0].cloneNode(true)
            let formRegex = RegExp(`salesitem_set-(\\d){1}-`,'g')
            formNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `salesitem_set-${formNum}-`)
			    tbody.appendChild(newForm)
            totalForms.setAttribute('value', `${formNum+1}`)
          //  window.localStorage.setItem('total_form', `${formNum}`);
           // formValue=window.localStorage.getItem('total_form');

        }

        function increamentValue(e){
          console.log("Inside increament")
         // e.preventDefault()
          let newForm = birdForm[0].cloneNode(true)
          let formRegex = RegExp(`salesitem_set-(\\d){1}-`,'g')
          formNum++
          newForm.innerHTML = newForm.innerHTML.replace(formRegex, `salesitem_set-${formNum}-`)
          return `${formNum+1}`
      

      }


      console.log("Inside if block")
     $('#id_salesitem_set-'+ 0 + '-quantity').keyup(function(){
      var item_id = $('#id_salesitem_set-' + 0 + '-product').val();
        var item_quantity = $(this).val();
        console.log(item_id,item_quantity,)
        $.ajax({
            url : '{% url "sales-item-total-price" %}',
            data : {'item_id':item_id,'item_quantity':item_quantity},
            type : 'GET',
            success : function(data){
                $('#id_salesitem_set-'+0+'-total_price').val(data['total_price']);
            }
        });
    });



/*
  if(formValue>1){
    
    console.log("Inside else block")

    $('#id_salesitem_set-'+ formValue + '-quantity').keyup(function(){
      alert("Inside")
      var item_id = $('#id_salesitem_set-' + formValue + '-product').val();
        var item_quantity = $(this).val();
        console.log(item_id,item_quantity,)
        $.ajax({
            url : '{% url "sales-item-total-price" %}',
            data : {'item_id':item_id,'item_quantity':item_quantity},
            type : 'GET',
            success : function(data){
                $('#id_salesitem_set-'+formValue+'-total_price').val(data['total_price']);
            }
        });

    });
  }*/


     

   })
</script>

  {% endblock morejs %}
