{% extends 'base.html' %}
{% load static %}

{% block content-header %}
<div class="card-header">
  <div class="card-tools">
	<div class="d-flex justify-content-end">
		
	  <a id = "edit" href="{% url 'sales-update' sales.id %}" class="btn btn-success">
	   Edit
	  </a>
	  <a id = "delete" href="" class="ml-2 btn btn-danger">
		Delete
	  </a>
	  <div class="col-12">
		<button class="btn btn-info" id="print_button"><i class="fas fa-sm fa-print"></i>
		  <strong>Print</strong></a></button>
	  </div>
	</div>
		
  </div>
</div>
{% endblock content-header %}

{% block content %}

    {% if object %}



	<div class='header'>
		
		<p class='title text-bold'>ORDER INVOICE </p>
		<br>
	</div>
	<div class='details'>
		Bill No : 00{{sales.customer.pk}}
		<br>
		Customer Name : {{sales.customer.name}}
		<br>
		Customer Code : {{sales.customer.sale_code}}
		<br>
	  Date : {{sales.date}}
		<hr class='hrItem' />
	</div>
<br>

<div class='card'>
					<div class='table-responsive'>
					<table class='table' id='myTable'>
						<thead>
							<tr>
								<th>Item</th>
								<th>Quantity</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody>

					{% for saleitem in sales.salesitem_set.all %}


							<tr>
								<td>{{ saleitem.product }}</td>
                                <td>{{saleitem.quantity}}</td>
                                <td>{{saleitem.total_price}}</td>

							</tr>
						{% endfor %}
                        <tr>
								<td class="btn btn-primary" style="width:40%">Total</td>
                                <td style="font-size:20px">{{sales.total_qty}}</td>
                                <td style="font-size:20px">{{sales.total_order}}</td>

							</tr>

						</tbody>

					</table>
					</div>


				</div>
    {% else %}
        <p>There are no description for {{object}}</p>
    {% endif %}

	
	<style type="text/css">
		body {
			
			font-size: 13px;
		
		}
		.header {
			font-size: 25px;
			font-weight: 100;
			text-align: center;
			color: #007cae;
		}


		tr:first-child{
			outline: thin solid transparent;
			height: 40px;
		  }
	   
	</style>
{% endblock content %}
{% block javascript %}
<script>
  $("#print_button").click(function (event) {
    //event.preventDefault();
	$('#print_button').hide();
	$('#edit').hide();
	$('#delete').hide();
	window.print();
  //  $('.student__idCard').print();
  window.location.reload();
  });

</script>


{% endblock %}