{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Sales Return{% endblock title %}
{% block content-header %}
<div class="card-header">
    <div class="card-tools">
        <a href="#" class="btn btn-tool">Print</a>
        <a href="" class="btn btn-tool">
            <i class="fas fa-edit"></i>
        </a>
        <a href="" class="btn btn-tool">
            <i class="fas fa-times"></i>
        </a>
    </div>
</div>
{% endblock content-header %}

{% block content %}



<div class="col-lg-12" style="display:flex">
   
    <div class='col-sm-12 card'>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="{{ field.auto_id }}">
                    {{ field.label }}
                    {% if messages %}
                    {% for message in messages %}

                    <small id="{{ field.auto_id }}" class="text-danger">{{ message }}</small>
                    {% endfor %}
                    {% endif %}
                </label>

                <div id="form-container" class="col-sm-12">
                    {{ field | add_class:"form-control" }}
                    {% if field.help_text %}
                    <small>{{ field.help_text|safe }}</small>
                    {% endif %}


                    <table class="table">
                        {{ items.management_form }}

                        {% for form in items.forms %}

                        {% if forloop.first %}
                        <thead>
                            <tr>
                                {% for field in form.visible_fields %}
                                <th>{{ field.label|capfirst }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        {% endif %}
                        <tbody class="tbody-class">
                            <tr class="formset_row">
                                {% for field in form.visible_fields %}
                                <td>
                                    {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                    {% endfor %}
                                    {% endif %}
                                    {{ field.errors.as_ul }}
                                    {{ field | add_class:"form-control" }}
                                </td>

                                {% endfor %}
                            </tr>

                        </tbody>
                        {% endfor %}
                    </table>
                    <!-- <button id="add-form" type="button" class="btn btn-primary">Add Row</button> -->

                </div>

            </div>

            {% endfor %}

{% if object %}
<input type="submit" style="height:40px;float:right;" class="btn btn-primary mb-4" value="Return Sales">
{% else %}
<input type="submit" class="btn btn-primary" value="Add new Sales">
{% endif %}
</form>
</div>

</div>

<hr>
<div class='table-responsive'>
    <table class='table table-hover' id='myTable'>
        <thead>
            <tr>
                <th>Item</th>
                 <th></th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>

            {% for saleitem in sales.salesitem_set.all %}
            <tr>
                <td>{{ saleitem.product }}</td>
                <td></td>
                <td>{{saleitem.quantity}}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}

{% block morejs %}

<script src="{% static 'dist/js/formset/jquery.formset.js' %}"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>-->
<script>
    $('#id_salesitem_set-0-quantity').keyup(function(){
        var item_id = $('#id_salesitem_set-' + 0 + '-product').val();
          var item_quantity = $(this).val();
          console.log(item_id,item_quantity,)
          $.ajax({
              url : '{% url "sales-item-total-price" %}',
              data : {'item_id':item_id,'item_quantity':item_quantity},
              type : 'GET',
              success : function(data){
                  $('#id_salesitem_set-'+0+'-total_price').val(data['total_price']);
              }
          });
      });
    $('.table th:nth-child(4)').hide();//removing delete th from formset
    $('#id_salesitem_set-0-product').attr('required',true);
    $('.formset_row').formset({
     //   deleteText: 'remove',
        prefix: 'items'

    });

    let birdForm = document.querySelectorAll(".formset_row")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let totalForms = document.querySelector("#id_salesitem_set-TOTAL_FORMS")
    let tbody = document.querySelector('.tbody-class')
    document.querySelector('.add-row').style.display = "none";


    let formNum = birdForm.length - 1
    addButton.addEventListener('click', addForm)

    function addForm(e) {
        e.preventDefault()
        let newForm = birdForm[0].cloneNode(true)
        let formRegex = RegExp(`salesitem_set-(\\d){1}-`, 'g')
        formNum++
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `salesitem_set-${formNum}-`)
        tbody.appendChild(newForm)
        totalForms.setAttribute('value', `${formNum + 1}`)

    }
   
</script>

{% endblock morejs %}