
{% load static %}
{% comment %} <link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/4.0.0/material-components-web.min.css"
/>
<link
rel="stylesheet"
href="https://cdn.datatables.net/1.11.5/css/dataTables.material.min.css"
/> {% endcomment %}
<link
rel="stylesheet"
href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}"
/>
<link
rel="stylesheet"
href="{% static 'plugins/datatables-select/css/select.bootstrap4.min.css' %}"
/>
<link
rel="stylesheet"
href="{% static 'plugins/datatables-fixedheader/css/fixedHeader.bootstrap4.min.css' %}"
/>
<link
rel="stylesheet"
href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}"
/>
<link
rel="stylesheet"
href="{% static 'plugins/datatables-rowreorder/css/rowReorder.bootstrap4.min.css' %}"
/>
<link
rel="stylesheet"
href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.css' %}"
/>