{% extends 'base.html' %}


{% block title %}Dashboard{% endblock title %}

{% block content %}
    <!-- Widgets  -->
    <div class="row">
        <div class="col-lg-3 col-md-6">

            <div class="card">
                <div class="card-body text-white"  style="background-color: #743DB8;">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-1">
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                            <i class="fa fa-cart-plus"></i>
                            Today Incomes<br>
                                <div class="stat-text"><span class="count text-white"><b>Rs.{{ today_sales_price }}</b> </span></div>
<!--                                <div class="stat-heading">Order</div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body bg-info">
                    <div class="stat-widget-five">
                       
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-icon dib flat-color-1">
                                </div>
                                <i class="fa fa-cart-plus"></i>
                                Today Sales
                                <div class="stat-text"><span class="count"><b>{{ order }}</b>   </span></div>
<!--                                <div class="stat-heading">Order</div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body bg-warning">
                    <div class="stat-widget-five">
                       
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-icon dib flat-color-2">
                                   
                                </div> 
                                <i class="fab fa-product-hunt"></i> Total Product
                                <div class="stat-text"><span class="count"><b>{{ product }}</b></span></div>
<!--                                <div class="stat-heading">Product</div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body bg-success">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-3">
                          
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <i class="fa fa-paper-plane"></i>  Total Supplier
                                <div class="stat-text"><span class="count"><b> {{supplier}}</b> </span></div>
<!--                                <div class="stat-heading">Supplier</div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body bg-primary">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-4">
                      
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <i class="fa fa-users"></i>   Today Buyer
                                <div class="stat-text"><span class="count"><b>{{ customer }}</b>   </span></div>
<!--                                <div class="stat-heading">Buyer</div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
      
    </div>

    <!-- /Widgets -->

    <div class="clearfix"></div>
    
    <!-- Orders -->
    <div class="orders">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title">Orders Summary </h4>
                    </div>
                    <div class="card-body">
                        <div  class="table-stats order-table ov-h">
                            <table id = "dataTable" class="table ">
                                <thead>
                                    <tr>
                                        <th class="serial">#</th>
                                        <th>Supplier</th>
                                        <th>Product</th>
                                        <th>Buyer</th>
                                        <th>Date</th>
                                        {% comment %} <th>Status</th> {% endcomment %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if orders %}
                                    {% for order in orders %}
                                    <tr>
                                        <td class="serial">{{ forloop.counter }}</td>
                                        <td>{{ order.product.supplier }}</td>
                                        <td>{{ order.product }}</td>
                                        <td>{{ order.sales_id.customer }}</td>
                                        <td>{{ order.created_at }}</td>
                                        {% comment %} <td>
                                            {% if order.status == 'pending' %}
                                                <a class="btn btn-warning" href="">{{ order.status }}</a>
                                            {% elif order.status == 'decline' %}
                                                <a class="btn btn-danger" href="">{{ order.status }}</a>
                                            {% elif order.status == 'complete' %}
                                                <a class="btn btn-success" href="">{{ order.status }}</a>
                                            {% elif order.status == 'approved' %}
                                                <a class="btn btn-primary" href="">{{ order.status }}</a>
                                            {% elif order.status == 'bulk' %}
                                                <a class="btn btn-secondary" href="">{{ order.status }}</a>
                                            {% else %}
                                                <a class="btn btn-info" href="">{{ order.status }}</a>
                                            {% endif %}
                                        </td> {% endcomment %}
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                        <tr><td>No Order Data</td></tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div> <!-- /.table-stats -->
                    </div>
                </div> <!-- /.card -->
            </div>  <!-- /.col-lg-8 -->


        </div>
    </div> 
    <!-- /.orders -->
{% endblock content %}
{% block javascript %}

{% endblock javascript %}
