{% extends 'base.html' %}
{% load static %}

{% block content-header %}
<div class="card-header">
  <div class="card-tools">
    <a href="#" class="btn btn-tool">Print</a>
  </div>
</div>
{% endblock content-header %}

{% block content %}
    <h4> Supplier Details</h4>

    {% if object %}
<div class='card'>
					<div class='table-responsive'>
					<table class='table table-hover' id='myTable'>
						<thead>
							<tr>
								<th>Item</th>
								<th>Quantity</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{ supplier.email }}</td>
                                <td>{{saleitem.quantity}}</td>
                                <td>{{saleitem.total_price}}</td>

							</tr>
                        <tr>
								<td class="btn btn-primary" style="width:40%">Total</td>
                                <td style="font-size:20px">{{sales.total_qty}}</td>
                                <td style="font-size:20px">{{sales.total_order}}</td>

							</tr>

						</tbody>

					</table>
					</div>


				</div>
    {% else %}
        <p>There are no description for {{object}}</p>
    {% endif %}


{% endblock content %}
